# pandas and numpy

In [3]:
# Customarily, we import as follows:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Objetc Creation

In [14]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:
s = pd.Series([1,3,5,np.nan,7,9])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    9.0
dtype: float64

In [16]:
# Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:
dates = pd.date_range('20151011', periods=7)
dates

DatetimeIndex(['2015-10-11', '2015-10-12', '2015-10-13', '2015-10-14',
               '2015-10-15', '2015-10-16', '2015-10-17'],
              dtype='datetime64[ns]', freq='D')

In [21]:
# Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:
df = pd.DataFrame(np.random.randn(7,6), index=dates, columns=list('QWERTY'))
df

                   Q         W         E         R         T         Y
2015-10-11  1.848389  0.203470 -0.964987  1.679127  0.366751 -1.752698
2015-10-12 -1.726446  0.425225 -0.489592 -1.534426 -1.020679 -0.786877
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206
2015-10-14  0.851889 -1.067238 -1.841667  0.548018  1.422651  0.066202
2015-10-15  0.573465  1.321249 -0.779436 -0.053071  0.380662  0.023725
2015-10-16  0.939105 -1.819067  0.914857 -1.312940 -0.899468  0.551938
2015-10-17 -0.346971  0.432481 -0.380894  0.197318 -0.083637 -0.698556

In [25]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({  'A' : 1.,
                      'B' : pd.Timestamp('20151011'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'neo'})
df2

     A          B    C  D      E    F
0  1.0 2015-10-11  1.0  3   test  neo
1  1.0 2015-10-11  1.0  3  train  neo
2  1.0 2015-10-11  1.0  3   test  neo
3  1.0 2015-10-11  1.0  3  train  neo

In [26]:
# Having specific dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [41]:
# If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled.
# Here’s a subset of the attributes that will be completed:
#df2.A                  df2.boxplot
#df2.abs                df2.C
#df2.add                df2.clip
#df2.add_prefix         df2.clip_lower
#df2.add_suffix         df2.clip_upper
#df2.align              df2.columns
#df2.all                df2.combine
#df2.any                df2.combineAdd
#df2.append             df2.combine_first
#df2.apply              df2.combineMult
#df2.applymap           df2.compound
#df2.as_blocks          df2.consolidate
#df2.asfreq             df2.convert_objects
#df2.as_matrix          df2.copy
#df2.astype             df2.corr
#df2.at                 df2.corrwith
#df2.at_time            df2.count
#df2.axes               df2.cov
#df2.B                  df2.cummax
#df2.between_time       df2.cummin
#df2.bfill              df2.cumprod
#df2.blocks             df2.cumsum
#df2.bool               df2.D
df2.consolidate

<bound method NDFrame.consolidate of      A          B    C  D      E    F
0  1.0 2015-10-11  1.0  3   test  neo
1  1.0 2015-10-11  1.0  3  train  neo
2  1.0 2015-10-11  1.0  3   test  neo
3  1.0 2015-10-11  1.0  3  train  neo>

## Viewing Data

In [50]:
# See the Basics section
# See the top & bottom rows of the frame
df.head()

                   Q         W         E         R         T         Y
2015-10-11  1.848389  0.203470 -0.964987  1.679127  0.366751 -1.752698
2015-10-12 -1.726446  0.425225 -0.489592 -1.534426 -1.020679 -0.786877
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206
2015-10-14  0.851889 -1.067238 -1.841667  0.548018  1.422651  0.066202
2015-10-15  0.573465  1.321249 -0.779436 -0.053071  0.380662  0.023725

In [44]:
df.tail(3)

                   Q         W         E         R         T         Y
2015-10-15  0.573465  1.321249 -0.779436 -0.053071  0.380662  0.023725
2015-10-16  0.939105 -1.819067  0.914857 -1.312940 -0.899468  0.551938
2015-10-17 -0.346971  0.432481 -0.380894  0.197318 -0.083637 -0.698556

In [45]:
df.index

DatetimeIndex(['2015-10-11', '2015-10-12', '2015-10-13', '2015-10-14',
               '2015-10-15', '2015-10-16', '2015-10-17'],
              dtype='datetime64[ns]', freq='D')

In [49]:
# Display the index, columns, and the underlying numpy data
df.columns

Index(['Q', 'W', 'E', 'R', 'T', 'Y'], dtype='object')

In [48]:
# Describe shows a quick statistic summary of your data
df.values

array([[ 1.84838856,  0.20347041, -0.9649872 ,  1.67912702,  0.36675084,
        -1.75269762],
       [-1.72644572,  0.42522542, -0.48959238, -1.53442611, -1.02067914,
        -0.78687684],
       [-0.83026065, -0.04094697,  0.40199487,  0.95260773,  0.23816675,
        -0.71820614],
       [ 0.85188916, -1.06723776, -1.8416672 ,  0.54801801,  1.42265094,
         0.06620187],
       [ 0.57346503,  1.32124879, -0.77943589, -0.05307058,  0.38066176,
         0.02372483],
       [ 0.93910497, -1.81906678,  0.91485666, -1.3129397 , -0.89946801,
         0.55193815],
       [-0.3469712 ,  0.43248122, -0.38089407,  0.19731829, -0.08363722,
        -0.69855562]])

In [51]:
# Describe shows a quick statistic summary of your data
df.describe()

              Q         W         E         R         T         Y
count  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000
mean   0.187024 -0.077832 -0.448532  0.068091  0.057778 -0.473496
std    1.217821  1.045803  0.904206  1.162958  0.836114  0.756650
min   -1.726446 -1.819067 -1.841667 -1.534426 -1.020679 -1.752698
25%   -0.588616 -0.554092 -0.872212 -0.683005 -0.491553 -0.752541
50%    0.573465  0.203470 -0.489592  0.197318  0.238167 -0.698556
75%    0.895497  0.428853  0.010550  0.750313  0.373706  0.044963
max    1.848389  1.321249  0.914857  1.679127  1.422651  0.551938

In [53]:
# Transposing your data
df.T

,2015-10-11 00:00:00,2015-10-12 00:00:00,2015-10-13 00:00:00,2015-10-14 00:00:00,2015-10-15 00:00:00,2015-10-16 00:00:00,2015-10-17 00:00:00
Q,1.848389,-1.726446,-0.830261,0.851889,0.573465,0.939105,-0.346971
W,0.203470,0.425225,-0.040947,-1.067238,1.321249,-1.819067,0.432481
E,-0.964987,-0.489592,0.401995,-1.841667,-0.779436,0.914857,-0.380894
R,1.679127,-1.534426,0.952608,0.548018,-0.053071,-1.312940,0.197318
T,0.366751,-1.020679,0.238167,1.422651,0.380662,-0.899468,-0.083637
Y,-1.752698,-0.786877,-0.718206,0.066202,0.023725,0.551938,-0.698556

In [54]:
# Sorting by an axis
df.sort_index(axis=1, ascending=False)

                   Y         W         T         R         Q         E
2015-10-11 -1.752698  0.203470  0.366751  1.679127  1.848389 -0.964987
2015-10-12 -0.786877  0.425225 -1.020679 -1.534426 -1.726446 -0.489592
2015-10-13 -0.718206 -0.040947  0.238167  0.952608 -0.830261  0.401995
2015-10-14  0.066202 -1.067238  1.422651  0.548018  0.851889 -1.841667
2015-10-15  0.023725  1.321249  0.380662 -0.053071  0.573465 -0.779436
2015-10-16  0.551938 -1.819067 -0.899468 -1.312940  0.939105  0.914857
2015-10-17 -0.698556  0.432481 -0.083637  0.197318 -0.346971 -0.380894

In [55]:
# Sorting by values
df.sort_values(by='R')

                   Q         W         E         R         T         Y
2015-10-12 -1.726446  0.425225 -0.489592 -1.534426 -1.020679 -0.786877
2015-10-16  0.939105 -1.819067  0.914857 -1.312940 -0.899468  0.551938
2015-10-15  0.573465  1.321249 -0.779436 -0.053071  0.380662  0.023725
2015-10-17 -0.346971  0.432481 -0.380894  0.197318 -0.083637 -0.698556
2015-10-14  0.851889 -1.067238 -1.841667  0.548018  1.422651  0.066202
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206
2015-10-11  1.848389  0.203470 -0.964987  1.679127  0.366751 -1.752698

## Selection

In [56]:
### Note While standard Python / Numpy expressions for selecting and setting are intuitive 
### and come in handy for interactive work, for production code, we recommend the optimized 
### pandas data access methods, .at, .iat, .loc, .iloc and .ix.

In [57]:
# See the indexing documentation Indexing and Selecing Data and MultiIndex / Advanced Indexing

## Getting

In [61]:
#Selecting a single column, which yields a Series, equivalent to df.A
df['Q']

2015-10-11    1.848389
2015-10-12   -1.726446
2015-10-13   -0.830261
2015-10-14    0.851889
2015-10-15    0.573465
2015-10-16    0.939105
2015-10-17   -0.346971
Freq: D, Name: Q, dtype: float64

In [65]:
# Selecting via [], which slices the rows.
df[0:3]

                   Q         W         E         R         T         Y
2015-10-11  1.848389  0.203470 -0.964987  1.679127  0.366751 -1.752698
2015-10-12 -1.726446  0.425225 -0.489592 -1.534426 -1.020679 -0.786877
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206

In [67]:
df['20151011':'20151013']

                   Q         W         E         R         T         Y
2015-10-11  1.848389  0.203470 -0.964987  1.679127  0.366751 -1.752698
2015-10-12 -1.726446  0.425225 -0.489592 -1.534426 -1.020679 -0.786877
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206

## Selection by Label

In [68]:
# See more in Selection by Label
# For getting a cross section using a label

In [70]:
df.loc[:,['Q','E','Y']]

                   Q         E         Y
2015-10-11  1.848389 -0.964987 -1.752698
2015-10-12 -1.726446 -0.489592 -0.786877
2015-10-13 -0.830261  0.401995 -0.718206
2015-10-14  0.851889 -1.841667  0.066202
2015-10-15  0.573465 -0.779436  0.023725
2015-10-16  0.939105  0.914857  0.551938
2015-10-17 -0.346971 -0.380894 -0.698556

In [71]:
# Showing label slicing, both endpoints are included
df.loc['20151011':'20151015', ['Q','R']]

                   Q         R
2015-10-11  1.848389  1.679127
2015-10-12 -1.726446 -1.534426
2015-10-13 -0.830261  0.952608
2015-10-14  0.851889  0.548018
2015-10-15  0.573465 -0.053071

In [73]:
# Reduction in the dimensions of the returned object
df.loc['20151011', ['R','T','Y']]

R    1.679127
T    0.366751
Y   -1.752698
Name: 2015-10-11 00:00:00, dtype: float64

In [75]:
# For getting a scalar value
df.loc[dates[0],'Q']

1.8483885592481155

In [78]:
# For getting fast access to a scalar (equiv to the prior method)
df.at[dates[0],'Q']

1.8483885592481155

## Selection by Position

In [79]:
# See more in Selection by Position
# Select via the position of the passed integers

In [81]:
# Select via the position of the passed integers
df.iloc[3]

Q    0.851889
W   -1.067238
E   -1.841667
R    0.548018
T    1.422651
Y    0.066202
Name: 2015-10-14 00:00:00, dtype: float64

In [86]:
# By integer slices, acting similar to numpy/python
df.iloc[0:4,0:3]

                   Q         W         E
2015-10-11  1.848389  0.203470 -0.964987
2015-10-12 -1.726446  0.425225 -0.489592
2015-10-13 -0.830261 -0.040947  0.401995
2015-10-14  0.851889 -1.067238 -1.841667

In [84]:
# By lists of integer position locations, similar to the numpy/python style
df.iloc[[0,2,3],[0,5]]

                   Q         E
2015-10-12 -1.726446 -0.489592
2015-10-13 -0.830261  0.401995
2015-10-15  0.573465 -0.779436

In [87]:
# For slicing rows explicitly
df.iloc[1:3,:]

                   Q         W         E         R         T         Y
2015-10-12 -1.726446  0.425225 -0.489592 -1.534426 -1.020679 -0.786877
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206

In [88]:
# For slicing columns explicitly
df.iloc[:,1:3]

                   W         E
2015-10-11  0.203470 -0.964987
2015-10-12  0.425225 -0.489592
2015-10-13 -0.040947  0.401995
2015-10-14 -1.067238 -1.841667
2015-10-15  1.321249 -0.779436
2015-10-16 -1.819067  0.914857
2015-10-17  0.432481 -0.380894

In [89]:
# For getting a value explicitly
df.iloc[1,1]

0.42522541784663526

In [90]:
# For getting fast access to a scalar (equiv to the prior method)
df.iat[1,1]

0.42522541784663526

## Boolean Indexing

In [92]:
# Using a single column’s values to select data
df[df.E > 0]

                   Q         W         E         R         T         Y
2015-10-13 -0.830261 -0.040947  0.401995  0.952608  0.238167 -0.718206
2015-10-16  0.939105 -1.819067  0.914857 -1.312940 -0.899468  0.551938