## An Informal Introduction to Python

In [6]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [7]:
spam

1

In [8]:
text

"# This is not a comment because it's inside quotes."

In [20]:
# Numbers
17/3 # division always returns a floating point number

5.666666666666667

In [21]:
17%3 # the % operator returns the remainder of the division

2

In [23]:
17//3 # floor division discards the fractional part

5

In [24]:
5 * 3 + 2  # result * divisor + remainder

17

In [25]:
5 ** 2  # 5 squared

25

In [26]:
2 ** 7  # 2 to the power of 7

128

In [27]:
width = 20
height = 5 * 9
width * height

900

In [28]:
4 * 3.75 - 1

14.0

In [37]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [38]:
price + _

113.0625

In [39]:
round(_, 2)

113.06

In [40]:
'spam eggs'  # single quotes
'doesn\'t'  # use \' to escape the single quote...
"doesn't"  # ...or use double quotes instead
'"Yes," they said.'
"\"Yes,\" they said."
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [41]:
'"Isn\'t," they said.'
print('"Isn\'t," they said.')
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output
print(s)  # with print(), \n produces a new line

"Isn't," they said.
First line.
Second line.

In [45]:
word = 'Python'
word[0]

'P'

In [47]:
word[3]

'h'

In [48]:
word[-1]

'n'

In [49]:
word[-2]

'o'

In [50]:
word[0:2]

'Py'

In [51]:
word[:4]

'Pyth'

In [52]:
word[:2] + word[2:]

'Python'

In [53]:
word[:4] + word[4:]

'Python'

In [55]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [56]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [59]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [60]:
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [62]:
letters[:] = []
letters

[]

In [63]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [67]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

x[0]

['a', 'b', 'c']

In [68]:
x[0][1]

'b'

In [118]:
# First Steps Towards Programming
# Fibonacci series:
# The sum of two elements defines the next

a, b = 0, 1
while a < 18:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13

In [119]:
i = 7 * 8
print('The value of i is', i)

The value of i is 56

In [120]:
a, b = 0, 1
while a < 1000:
    print(a, end=', ')
    a, b = b, a+b

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

In [122]:
## More Control Flow Tools
# if Statements

x = int(input ("Please enter an integer: "))

Please enter an integer: 33

In [123]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More, your number is',x)

More, your number is 33

In [141]:
# for Statement
# Measure some strings:
words = ['jose','luis','juarez','ruelas', 'martha','lipa','chahuares']
for w in words:
    print(w, len(w))

jose 4
luis 4
juarez 6
ruelas 6
martha 6
lipa 4
chahuares 9

In [142]:
# With for w in words:, the example would attempt to create an infinite list, inserting defenestrate over and over again.
for w in words[:]:
    if len(w) > 6:
        words.insert(0, w)
words

['chahuares',
 'jose',
 'luis',
 'juarez',
 'ruelas',
 'martha',
 'lipa',
 'chahuares']

In [144]:
# The range() Function
for i in range(5):
    print(i)

0
1
2
3
4

In [156]:
a = ['7oselo', '8ertha', '4ayda', '4estor', '4acho' ,'4iana', '4acho', '4artha']
for i in range(len(a)):
    print(i, a[i])

0 7oselo
1 8ertha
2 4ayda
3 4estor
4 4acho
5 4iana
6 4acho
7 4artha

In [155]:
print(range(7))

range(0, 7)

In [157]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [166]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
# Break and continue Statements, and else Clauses on Loops

for n in range (2, 10):
    for x in range (2, n):
        if n % x == 0:
            print(n, 'equals',x, '*', n/x)
            break
        else:
            print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2.0
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4.0
9 is a prime number
9 equals 3 * 3.0

In [ ]:
# The continue statement, also borrowed from C, continues with the next iteration of the loop:

for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

In [ ]:
## Pass Statements

while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
# Another place pass can be used is as a place-holder for a function or conditional body when you are working on new code, 
# allowing you to keep thinking at a more abstract level. The pass is silently ignored:

class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass   # Remember to implement this!

In [3]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [4]:
fib

In [5]:
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [6]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [19]:
# https://docs.python.org/3/tutorial/controlflow.html

In [20]:
# More on Defining Functions
# Default Argument Values

In [21]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries -1
        if retries < 0:
            raise ValueError ('invalid user response')
        print (reminder)

In [23]:
ask_ok('Do you really want to quit?')

Do you really want to quit?n

False

In [24]:
ask_ok('OK to overwrite the file?', 2)

OK to overwrite the file?yes

True

In [25]:
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

OK to overwrite the file?nop

False

In [26]:
# The default values are evaluated at the point of function definition in the defining scope, so that

In [27]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [14]:
def f(a,L=[]):
    L.append(a)
    return L

In [15]:
print(f(1))
print(f(3))
print(f(7))

[1]
[1, 3]
[1, 3, 7]

In [16]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [21]:
print(f(None))

[None]

In [23]:
## Keyword Arguments
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [24]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [35]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" *40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [36]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [40]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [44]:
def concat(*args, sep="/"):
    return sep.join(args)
concat("earth","mars","venus")
concat("earth","mars","venus",sep="**")

'earth**mars**venus'

In [46]:
## Unpacking Argument Lists
list(range(3,6))

[3, 4, 5]

In [47]:
args = [3, 6]

In [48]:
list(range(*args))

[3, 4, 5]

In [49]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [50]:
## Lambda Expressions
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)
f(1)

43

In [51]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [55]:
## Documentation Strings
## Here is an example of a multi-line docstring
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [56]:
## Function Annotations
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [58]:
## Data Structures
### More on Lists
# list.append(x)
# list.extend(iterable)
# list.insert(i, x)
# list.remove(x)
# list.pop([i])
# list.clear()
# list.index(x[, start[, end]])
# list.count(x)
# list.sort(key=None, reverse=False)
# list.reverse()
# list.copy()

In [60]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [61]:
fruits.count('tangerine')

0

In [62]:
fruits.index('banana')

3

In [63]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [64]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [65]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [66]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [67]:
fruits.pop()

'pear'

In [76]:
##Using Lists as Stacks
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [77]:
stack.pop()

7

In [78]:
stack

[3, 4, 5, 6]

In [79]:
stack.pop()

6

In [80]:
stack.pop()

5

In [81]:
stack

[3, 4]

In [83]:
## Using Lists as Queues
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [84]:
## List Comprehensions
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [89]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [90]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [91]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [92]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [93]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [94]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [95]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-95-702d12ece8a4>, line 2)

In [96]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [99]:
## Nested List Comprehensions
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [100]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [101]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [102]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [103]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [104]:
## The del statement
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [105]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [106]:
del a[:]
a

[]

In [107]:
## Tuples and Sequences
t = 12345, 54321, 'hello!'
t[0]

t

(12345, 54321, 'hello!')

In [108]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [109]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [111]:
t[0]

12345

In [110]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [113]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [114]:
len(singleton)

1

In [115]:
singleton

('hello',)

In [116]:
## Sets

In [124]:
# Demonstrate set operations on unique letters from two words
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
'orange' in basket                 # fast membership testing

{'banana', 'pear', 'orange', 'apple'}

True

In [125]:
'crabgrass' in basket

False

In [134]:
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [135]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [136]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [137]:
a & b                              # letters in both a and b

{'a', 'c'}

In [138]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [139]:
## Similarly to list comprehensions, set comprehensions are also supported:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [140]:
## Dictionaries
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [141]:
tel['jack']

4098

In [142]:
del tel['sape']
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [143]:
list(tel)

['jack', 'guido', 'irv']

In [144]:
sorted(tel)

['guido', 'irv', 'jack']

In [145]:
'guido' in tel

True

In [146]:
'jack' not in tel

False

In [147]:
### The dict() constructor builds dictionaries directly from sequences of key-value pairs:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [148]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [149]:
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [150]:
### Looping Techniques
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [151]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [152]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [153]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [154]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [155]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [158]:
### More on Conditions
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [161]:
### Comparing Sequences and Other Types
(1, 2, 3)              < (1, 2, 4)

True

In [162]:
[1, 2, 3]              < [1, 2, 4]

True

In [163]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [164]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [165]:
(1, 2)                 < (1, 2, -1)

True

In [166]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [167]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [175]:
# Modules
# Fibonacci numbers module
# fibo.py
def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [176]:
# import fibo
# fibo.fib(1000)
# 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

# fibo.fib2(100)
# [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# fibo.__name__
#'fibo'

In [177]:
# More on Modules
# from fibo import fib, fib2
# fib(500)

In [178]:
# from fibo import *
# fib(500)

In [179]:
# import fibo as fib
# fib.fib(500)

In [180]:
# from fibo import fib as fibonacci
# fibonacci(500)

In [182]:
# Executing modules as scripts
# python fibo.py <arguments>
# if __name__ == "__main__":
#     import sys
#     fib(int(sys.argv[1]))

# $ python fibo.py 50
# 0 1 1 2 3 5 8 13 21 34

# import fibo

In [183]:
# The Module Search Path
# spam.py
# sys.path

In [184]:
# Standard Modules
# import sys
# sys.ps1
# sys.ps2
# sys.ps1 = 'C> '

In [185]:
# import sys
# sys.path.append('/ufs/guido/lib/python')

In [186]:
## The dir() Function
# import fibo, sys
# dir(fibo)
# dir(sys)

In [187]:
# The dir() Function
# import fibo, sys
# dir(fibo)
# dir(sys)

In [188]:
# a = [1, 2, 3, 4, 5]
# import fibo
# fib = fibo.fib
# dir()

In [189]:
# import builtins
# dir(builtins)

In [190]:
### Packages
# sound/                          Top-level package
#       __init__.py               Initialize the sound package
#       formats/                  Subpackage for file format conversions
#              __init__.py
#              wavread.py
#              wavwrite.py
#              aiffread.py
#              aiffwrite.py
#              auread.py
#              auwrite.py
#              ...
#      effects/                  Subpackage for sound effects
#              __init__.py
#              echo.py
#              surround.py
#              reverse.py
#              ...
#      filters/                  Subpackage for filters
#              __init__.py
#              equalizer.py
#              vocoder.py
#              karaoke.py
#              ...

In [191]:
# import sound.effects.echo

In [192]:
# sound.effects.echo.echofilter(input, output, delay=0.7, atten=4)

In [193]:
# from sound.effects import echo

In [194]:
# echo.echofilter(input, output, delay=0.7, atten=4)

In [195]:
# from sound.effects.echo import echofilter

In [196]:
# echofilter(input, output, delay=0.7, atten=4)

In [198]:
### Importing * From a Package
# __all__ = ["echo", "surround", "reverse"]

In [199]:
# import sound.effects.echo
# import sound.effects.surround
# from sound.effects import *

In [200]:
# from . import echo
# from .. import formats
# from ..filters import equalizer

In [201]:
### Classes
def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [203]:
## Class Definition Syntax
# class ClassName:
#     <statement-1>
#     .
#     .
#     .
#     <statement-N>

In [204]:
# Class Objects
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'

In [205]:
x = MyClass()

In [206]:
x

In [208]:
def __init__(self):
    self.data = []

In [209]:
x = MyClass()

In [210]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart

x = Complex(3.0, -4.5)
x.r, x.i

(3.0, -4.5)

In [211]:
### Instance Objects
x.counter = 1
while x.counter < 10:
    x.counter = x.counter * 2
print(x.counter)
del x.counter

16

In [212]:
### Class and Instance Variables
class Dog:

    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance

In [213]:
d = Dog('Fido')

In [214]:
e = Dog('Buddy')

In [215]:
d.kind

'canine'

In [216]:
e.kind

'canine'

In [217]:
d.name

'Fido'

In [218]:
e.name

'Buddy'

In [219]:
class Dog:

    tricks = []             # mistaken use of a class variable

    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)

In [220]:
d = Dog('Fido')
e = Dog('Buddy')

In [221]:
d.add_trick('roll over')
e.add_trick('play dead')

In [222]:
d.tricks

['roll over', 'play dead']

In [223]:
class Dog:

    def __init__(self, name):
        self.name = name
        self.tricks = []    # creates a new empty list for each dog

    def add_trick(self, trick):
        self.tricks.append(trick)

In [224]:
d = Dog('Fido')
e = Dog('Buddy')

In [225]:
d.add_trick('roll over')
e.add_trick('play dead')

In [226]:
d.tricks

['roll over']

In [227]:
e.tricks

['play dead']

In [228]:
# Function defined outside the class
def f1(self, x, y):
    return min(x, x+y)

class C:
    f = f1

    def g(self):
        return 'hello world'

    h = g

In [229]:
class Bag:
    def __init__(self):
        self.data = []

    def add(self, x):
        self.data.append(x)

    def addtwice(self, x):
        self.add(x)
        self.add(x)

In [230]:
### Inheritance
# class DerivedClassName(BaseClassName):
#     <statement-1>
#     .
#     .
#     .
#     <statement-N>

In [231]:
# class DerivedClassName(modname.BaseClassName):

In [232]:
### Multiple Inheritance
# class DerivedClassName(Base1, Base2, Base3):
#     <statement-1>
#     .
#     .
#     .
#     <statement-N>

In [233]:
### Private Variables
class Mapping:
    def __init__(self, iterable):
        self.items_list = []
        self.__update(iterable)

    def update(self, iterable):
        for item in iterable:
            self.items_list.append(item)

    __update = update   # private copy of original update() method

class MappingSubclass(Mapping):

    def update(self, keys, values):
        # provides new signature for update()
        # but does not break __init__()
        for item in zip(keys, values):
            self.items_list.append(item)

In [234]:
### Odds and Ends
class Employee:
    pass

john = Employee()  # Create an empty employee record

# Fill the fields of the record
john.name = 'John Doe'
john.dept = 'computer lab'
john.salary = 1000

In [238]:
### Iterators
for element in [1, 2, 3]:
    print(element)
for element in (1, 2, 3):
    print(element)
for key in {'one':1, 'two':2}:
    print(key)
for char in "123":
    print(char)
# for line in open("myfile.txt"):
#     print(line, end='')

1
2
3
1
2
3
one
two
1
2
3

In [239]:
s = 'abc'
it = iter(s)
it

In [240]:
next(it)

'a'

In [241]:
next(it)

'b'

In [242]:
next(it)

'c'

In [244]:
class Reverse:
    """Iterator for looping over a sequence backwards."""
    def __init__(self, data):
        self.data = data
        self.index = len(data)

    def __iter__(self):
        return self

    def __next__(self):
        if self.index == 0:
            raise StopIteration
        self.index = self.index - 1
        return self.data[self.index]

In [245]:
rev = Reverse('spam')
iter(rev)

for char in rev:
    print(char)

m
a
p
s

In [246]:
### Generators
def reverse(data):
    for index in range(len(data)-1, -1, -1):
        yield data[index]

In [247]:
for char in reverse('golf'):
    print(char)

f
l
o
g

In [249]:
### Generator Expressions
# sum(i*i for i in range(10))                 # sum of squares
# 
# 
# xvec = [10, 20, 30]
# yvec = [7, 5, 3]
# sum(x*y for x,y in zip(xvec, yvec))         # dot product
# 
# 
# from math import pi, sin
# sine_table = {x: sin(x*pi/180) for x in range(0, 91)}
# 
# unique_words = set(word  for line in page  for word in line.split())
# 
# valedictorian = max((student.gpa, student.name) for student in graduates)
# 
# data = 'golf'
# list(data[i] for i in range(len(data)-1, -1, -1))

In [253]:
### Operating System Interface
import os
# os.getcwd()      # Return the current working directory

# os.chdir('/server/accesslogs')   # Change current working directory
# os.system('mkdir today')   # Run the command mkdir in the system shell

In [255]:
import shutil
# shutil.copyfile('data.db', 'archive.db')
# shutil.move('/build/executables', 'installdir')

In [256]:
### File Wildcards
# import glob
# glob.glob('*.py')

In [258]:
### Command Line Arguments
import sys
# print(sys.argv)

In [259]:
### Mathematics
import math
math.cos(math.pi / 4)

math.log(1024, 2)

10.0

In [262]:
### random
import random
random.choice(['apple', 'pear', 'banana'])

random.sample(range(100), 10)   # sampling without replacement

random.random()    # random float

random.randrange(6)    # random integer chosen from range(6)

1

In [263]:
### statistics
import statistics
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
statistics.mean(data)

statistics.median(data)

statistics.variance(data)

1.3720238095238095

In [266]:
### Internet Access
# from urllib.request import urlopen
# with urlopen('http://tycho.usno.navy.mil/cgi-bin/timer.pl') as response:
#     for line in response:
#         line = line.decode('utf-8')  # Decoding the binary data to text.
#         if 'EST' in line or 'EDT' in line:  # look for Eastern Time
#             print(line)
# 
# 
# 
# import smtplib
# server = smtplib.SMTP('localhost')
# server.sendmail('soothsayer@example.org', 'jcaesar@example.org',
# """To: jcaesar@example.org
# From: soothsayer@example.org
# 
# Beware the Ides of March.
# """)
# server.quit()

In [267]:
### Dates and Times
# dates are easily constructed and formatted
from datetime import date
now = date.today()
now

now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")


# dates support calendar arithmetic
birthday = date(1964, 7, 31)
age = now - birthday
age.days

19698

In [268]:
### Data Compression
import zlib
s = b'witch which has which witches wrist watch'
len(s)

t = zlib.compress(s)
len(t)

zlib.decompress(t)

zlib.crc32(s)

226805979

In [269]:
### Performance Measurement
from timeit import Timer
Timer('t=a; a=b; b=t', 'a=1; b=2').timeit()

Timer('a,b = b,a', 'a=1; b=2').timeit()

0.051908756403019715

In [270]:
### Quality Control
def average(values):
    """Computes the arithmetic mean of a list of numbers.

    >>> print(average([20, 30, 70]))
    40.0
    """
    return sum(values) / len(values)

import doctest
doctest.testmod()   # automatically validate the embedded tests

TestResults(failed=0, attempted=1)

In [272]:
# import unittest
# 
# class TestStatisticalFunctions(unittest.TestCase):
# 
#     def test_average(self):
#         self.assertEqual(average([20, 30, 70]), 40.0)
#         self.assertEqual(round(average([1, 5, 7]), 1), 4.3)
#         with self.assertRaises(ZeroDivisionError):
#             average([])
#         with self.assertRaises(TypeError):
#             average(20, 30, 70)
# 
# unittest.main()  # Calling from the command line invokes all tests

In [273]:
### Logging
import logging
logging.debug('Debugging information')
logging.info('Informational message')
logging.warning('Warning:config file %s not found', 'server.conf')
logging.error('Error occurred')
logging.critical('Critical error -- shutting down')

WARNING:root:Warning:config file server.conf not found
ERROR:root:Error occurred
CRITICAL:root:Critical error -- shutting down

In [ ]:
https://docs.python.org/3/reference/index.html